* {
  text-align: center;
}

h1 {
  text-decoration: underline;
}

#clothes {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 0px 10px;
}

#clothes div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(47, 26, 1);
  border-radius: 15px;
}

#clothes img {
  max-width: 200px;
  height: auto;
}

#buttons {
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: space-evenly;
}

#buttons button {
  width: 15%;
  font-size: 1em;
}